// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: "Montserrat", sans-serif;
$fontTitle: "Inter", sans-serif;

$fontSize: 10px; // где 16(px) - размер шрифта по умолчанию из макета

// Основные цвета
// $bodyColor: #ffffff;
$bodyColor: #ffffff;
$mainColor: #3a434b; // Цвет шрифта по умолчанию

$white: #ffffff;
$accent: #41A2D0;
$hoverBtn: #29779C;
$darkGrey: #949494;
$animation_speed: 0.5s;